.checkout {
  height: 530px;
  width: 100%;
  border: 5px solid rgb(131, 92, 14);
}
.item-container {
  position: relative;
}
.reservation {
  font-size: 85px;
}
@media (max-width: 750px) {
  .reservation {
    font-size: 55px;
    margin-top: 45%;
  }
  .desc {
    font-size: 15px;
  }
  .name span {
    font-size: 15px;
  }
}
.description {
  position: absolute;
  display: flex;
  background-color: #000;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  bottom: 0;
  font-family: "Times New Roman", Times, serif;
}
.checkout-container {
  height: auto;
}
.name,
.rating {
  display: flex;
  justify-content: flex-start;
  align-items: space-between;
  margin: 5px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
}
.date {
  display: flex;
  justify-content: flex-start;
}
/* ----------------------------------- */
.heading-3 {
  text-transform: uppercase;

  padding-bottom: 20px;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 700;
}

.item-container .item-image {
  height: 520px;
  width: 100%;
  object-fit: cover;
}

.item-details {
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
}

.item-name {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: maroon;
  font-size: 35px;
  font-weight: 700;
}

.item-price {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgba(224, 215, 215, 0.712);
  font-size: 20px;
  font-weight: 700;
}

.input {
  padding: 5px 0;
}
.myNeed {
  background-color: rgb(237, 175, 21);
  color: #000000;
  font-size: 20px;
  border: 2px solid #fff;
  cursor: pointer;
  font-weight: 800;
  transition: all 0.2s;
}
.myNeed:hover {
  font-size: 25px;
}
.input label {
  font-size: 8px;
  font-weight: 700;
  text-transform: uppercase;
  color: whitesmoke;
  font-size: 15px;
  font-weight: 700;
}

.input input {
  width: 100%;
  padding: 5px 10px;
  color: white;
  letter-spacing: 0px;
  font-size: 14px;
  background: 0;
  border: 0;
}

.input input:focus {
  outline: 0;
}

.lab {
  color: whitesmoke;
  font-size: 20px;
  font-weight: 700;
}
.input-field {
  color: whitesmoke;
  font-size: 10px;
  font-weight: 700;
  border: 1px solid #78757c;
  border-radius: 5px;
  position: relative;
}

.input-field img {
  width: 25px;
  height: auto;
  position: absolute;
  right: 0;
  top: 5px;
  margin-right: 5px;
}

/* Removes form Controls  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="month"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

input[type="month"]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none;
}
.check {
  margin-top: 15px;
}

@media screen and (max-width: 760px) {
  .checkout {
    height: auto;
    width: 100%;
    border: 5px solid rgb(131, 92, 14);
  }
}

.calender {
  transition: all 1s;
  animation: myAvailability 1s;
}
@keyframes myAvailability {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
